.container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.form-wrapper {
    width: 50%;
    margin: auto;
}

.form-wrapper h2 {
    text-align: center;
}

.field {
    margin-bottom: 1rem;
}

.field label {
    display: block;
    margin-bottom: 0.5rem;
}

.field input[type="email"],
.field input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
}

.field-check {
    display: flex;
    align-items: center;
    width: 200px;
    margin: 1rem;
}

.field-check input[type="checkbox"] {
    margin-right: -2.5rem;
}

.actions {
    text-align: center;
    margin-top: 50px;
}

.actions input[type="submit"] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}
