<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <footer class="footer">
        <div class="container">
            <section>
                <form action="">
                    <div class="form-row">
                        <div class="form-group">
                            <p>
                                <strong>Sign up for our newsletter</strong>
                            </p>
                        </div>

                        <div class="form-group">
                            <div class="form-outline">
                                <input type="email" id="email" class="form-control" placeholder="Email address" required />
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn-submit">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </form>
            </section>
        </div>

        <div class="footer-bottom">
            <p>© 2020 Copyright:
            <a class="text-link" href="https://Gorails.com/">RubyonRails.com</a></p>
        </div>
    </footer>
</body>
</html>
